html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("https://srirag-t.github.io/Basic-Banking-App-TSF-Task/homebg.jpg");
}

/* navbar css starts here  */
.bg-light{
    background-color:  #E74C3C!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #5f6368!important;
}

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #E74C3C;
}
/* navbar css ends here  */
